body{
	background: #c2d5e3;
}
.container{
	background: white;
	margin-top: 15%;
	border-radius: 5px;
}
.form-group{
	padding-top: 30px;
	border-radius: 2px;
	padding-bottom: 15px;
}
input{
	display: block;
	margin: auto;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
}
h1{
	position: relative;
	top: -30px;
	height: 0px;
	font-family: 'Anton', sans-serif;
	text-shadow: 2px 2px 8px #aaa;
}
.button {
  background-color: #c2d5e3;
  border: none;
  color: white;
  width: 150px;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}